input {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    box-shadow: inset;
}

label {
    color: #FFF;
    
}

div {
    background: #000;
}
