input {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    box-shadow: inset;
}

label {
    color: #FFF;
    text-transform: uppercase;
}

#logo {
    width: 500px;
    padding: 50px;
    position: absolute;
    right: 0px;
}

#form {
    width: 500px;
    padding: 50px;
    position: absolute;
    right: 0px;
}

body {
    background: #000;
}
